<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eidt Entry</title>
</head>
<body>
    <h1>Eidt Entry Here</h1>
    <form action="../../editEntry">
        <input class="search" type="text" name = "title" value="{{Title}}">
        <br/>
        <br/>
        <textarea rows="50" cols="75" name="content" placeholder="create a new encyclopedia entry">{{Content}}</textarea>
        <br/>
        <input type="submit" value="Save">
    </form>
    <p>Click the "Save" button and You can save the change to this entry.</p>
</body>
</html>